<import src="/template/template.wxml" />
<template is="top" data="{{name}}" />

<view class="rank" data-url="../rank/rank" bindtap="tiaozhuan">排行</view>

<view class="rwln">
  <view class="li" bindtap="birtiaozhuan" wx:for='{{birds.birds}}' wx:key='{{item._id}}' data-url="../details/details" data-birdsid="{{item._id}}">
    <view class="tx">
      <image src="{{item.bird_image}}" mode="widthFix"></image>
    </view>
    <view class="nr">
      <view class="bt">{{item.bird_name}}</view>
      <view class="num {{item.count && item.count > 0 ?'':'no'}}">{{item.count ? item.count:0}}</view>
      <view class="jj">{{item.caption}}</view>
    </view>
  </view>
</view>
<template is="caidan" data="{{user_profile}}" />