@import '../../template/template.wxss';

.tixna {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tixna .kuangkuang {
  width: 500rpx;
  padding: 50rpx;
  background: #fff;
  border-radius: 20rpx;
}

.tixna .kuangkuang .txxz {
  display: flex;
  padding-bottom: 30rpx;
  justify-content: center;
  align-items: center;
}

.tixna .kuangkuang .txxz .zffs {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tixna .kuangkuang .txxz .zffs .xz {
  width: 40rpx;
  height: 40rpx;
}

.tixna .kuangkuang .txxz .zffs .tb {
  width: 200rpx;
  height: 60rpx;
}

.tixna .kuangkuang .nerong {
  font-size: 30rpx;
  height: 80rpx;
  border-bottom: 1px solid #b3b3b3;
}

.tixna .kuangkuang .caozuo {
  display: flex;
  justify-content: space-around;
  font-size: 30rpx;
  margin-top: 50rpx;
  color: #2050ff;
}

.tixna .kuangkuang .caozuo .zx {
  line-height: 50rpx;
}

.tixna .kuangkuang .caozuo button {
  background: #fff;
  border: 0;
  font-size: 30rpx;
  color: #2050ff;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.tixna .kuangkuang .caozuo button::after {
  border: 0;
}

.logo {
  width: 100%;
  height: 100vh;
  background: #2050ff;
  display: flex;
  align-items: center;
  animation: logsx 2s linear alternate;
  display: none;
}

@keyframes logsx {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.logo .zst {
  width: 100%;
}

.top {
  height: 120rpx;
  background: #2050ff;
  font-size: 30rpx;
  width: 100%;
  display: flex;
  color: #fff;
}

.top .zhankai {
  width: 120rpx;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top .zhankai .zk {
  width: 31rpx;
  height: 23rpx;
}

.top .qiehuan {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 25rpx;
}

.top .qiehuan .li {
  width: 160rpx;
  text-align: center;
  height: 100%;
  line-height: 120rpx;
  box-sizing: border-box;
}

.top .qiehuan .li.on {
  border-bottom: 7rpx solid #e5ac00;
}

.campaign {
  position: relative;
  height: calc(100vh - 120rpx);
}

.campaign .banner {
  background: #d7d7d7;
  padding: 20rpx 0;
}

.campaign .banner swiper-item {
  width: 685rpx;
}

.campaign .banner .slide-image {
  width: 685rpx;
  height: 350rpx;
}

.campaign .hdadUl {
  padding: 20rpx 0 40rpx;
}

.campaign .hdadUl .li {
  width: 685rpx;
  margin: 20rpx auto 0;
  background: #fff;
  border-radius: 10rpx;
  display: flex;
  align-items: center;
  padding: 20rpx;
  box-sizing: border-box;
}

.campaign .reward{
  position: absolute;
  bottom: 32rpx;
  width: 100%;
  text-align: center;
  font-size: 24rpx;
  line-height: 40rpx;
  color: #2050ff;
}

.list {
  background: #ebebeb;
}

.campaign .hdadUl .li .lgzs {
  border-radius: 10rpx;
  width: 175rpx;
  min-width: 175rpx;
  height: 175rpx;
  background: #000;
  display: block;
}

.campaign .hdadUl .li .xxxx {
  width: 430rpx;
  margin-left: 50rpx;
}

.campaign .hdadUl .li .xxxx .bt {
  font-size: 41rpx;
  line-height: 65rpx;
  margin-top: -20rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.campaign .hdadUl .li .xxxx .jj {
  font-size: 29rpx;
  line-height: 45rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.request {
  position: relative;
  height: calc(100vh - 120rpx);
  overflow-y: scroll;
}

.request .ts {
  background: #d7d7d7;
  font-size: 25rpx;
  text-align: center;
  line-height: 35rpx;
  color: #727c8e;
  padding: 30rpx 100rpx;
}

.request .xuanxiang {
  text-align: center;
  width: 80%;
  margin: 25rpx auto 0;
}

.request .xuanxiang .li {
  display: inline-block;
  width: 345rpx;
  line-height: 90rpx;
  border-radius: 90rpx;
  border: 6rpx solid #2050ff;
  color: #2050ff;
  margin-top: 25rpx;
  font-weight: bold;
}

.request .tb {
  position: absolute;
  width: 260rpx;
  height: 240rpx;
  bottom: 100rpx;
  left: 50%;
  margin-left: -130rpx;
}

.chat {
  height: calc(100vh - 120rpx);
  overflow-y: scroll;
  background: #f1f1f1;
  padding: 15rpx 0 15rpx 30rpx;
}

.chat .li {
  border-bottom: 1px solid #e4e4e4;
  padding: 15rpx 0;
  display: flex;
  align-items: center;
  padding-right: 30rpx;
}

.chat .li .tx {
  border-radius: 50%;
  width: 118rpx;
  height: 118rpx;
  background: #b3b3b3;
  margin-right: 25rpx;
}

.chat .li .nr {
  flex: 1;
}

.chat .li .name {
  font-size: 33rpx;
}

.chat .li .name .sj {
  font-size: 29rpx;
  opacity: 0.54;
  float: right;
}

.chat .li .djxx {
  position: relative;
}

.chat .li .yy {
  font-size: 29rpx;
  opacity: 0.54;
  width: 370rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 60rpx;
}

.chat .li .djxx .wds {
  position: absolute;
  font-size: 29rpx;
  color: #fff;
  line-height: 35rpx;
  background: #2050ff;
  padding: 0 10rpx;
  border-radius: 35rpx;
  right: 0;
  top: 12.5rpx;
}

.chat .bj {
  position: fixed;
  width: 125rpx;
  height: 125rpx;
  bottom: 150rpx;
  right: 30rpx;
}

.reward-message {
  background-color: #fff;
  color: #2050ff;
  padding: 1rem 0.5rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;

  bottom: 0.5rem;
  margin: 0 0.9rem;

  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.botimg1 image,.botimg image{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.botimg1 image{
  width: 250rpx;
}
.botimg image{
  width: 300rpx;
}

