page {
  background: #f1f1f1;
}

.shuru {
  width: 710rpx;
  background: #fff;
  border-radius: 15rpx;
  margin: 220rpx 20rpx 0;
}

.shuru .li {
  height: 110rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
}

.shuru .li image {
  width: 39rpx;
  margin: 0 40rpx;
}

.shuru .li .str {
  flex: 1;
}

.shuru .li .str .mz {
  font-size: 24rpx;
  color: #504f4f;
}

.shuru .li .str .inpo {
  font-size: 30rpx;
  color: #504f4f;
}

.wjmi {
  font-size: 25rpx;
  color: #a8adb7;
  margin: 5rpx 0;
  margin-left: 50rpx;
  text-decoration: underline;
}

.accxz {
  width: 710rpx;
  background: #fff;
  border-radius: 15rpx;
  margin: 10rpx 20rpx;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40rpx;
  box-sizing: border-box;
}

.accxz .bt {
  font-size: 29rpx;
  color: #a8adb7;
  line-height: 60rpx;
  width: 100%;
}

.accxz .xuan {
  font-size: 25rpx;
  color: #767676;
  margin-right: 100rpx;
  display: flex;
  align-items: center;
  margin-bottom: 20rpx;
}

.accxz .xuan image {
  width: 43rpx;
  height: 43rpx;
  margin-right: 15rpx;
}

.rqbut {
  margin-top: 30rpx;
  color: #a8adb7;
  text-align: center;
}

.rqbut .js {
  line-height: 30rpx;
  display: block;
  font-size: 25rpx;
}

.scan {
  display: inline-block;
  width: 345rpx;
  line-height: 90rpx;
  border-radius: 90rpx;
  border: 6rpx solid #2050ff;
  color: #2050ff;
  font-weight: bold;
  text-align: center;
  margin: 10rpx auto 0;
}

.wechat-login {
  display: inline-block;
  width: 345rpx;
  line-height: 90rpx;
  border-radius: 90rpx;
  border: 6rpx solid #17b85d;
  color: #17b85d;
  font-weight: bold;
  text-align: center;
  margin: 10rpx auto 0;
}
.scan.huise {
  border-color: #504f4f;
  color: #504f4f;
}

.navigator-hover {
  background: inherit;
}