/* pages/rank/rank.wxss */
@import '../../template/template.wxss';

.list{
  height: calc(100vh - 120rpx);
  overflow-y: scroll;
  
}
.li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150rpx;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 20rpx;
}

.li .xh {
  font-size: 36rpx;
  width: 40rpx;
}

.li .tx {
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  margin-right: 20rpx;
  line-height: 100rpx;
  color: #fff;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
}

.li .name {
  width: 300rpx;
  font-size: 28rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.li .sl{
  font-size: 40rpx;
  color: #fff;
  background: #949494;
  width: 150rpx;
  line-height: 60rpx;
  border-radius: 40rpx;
}
.li .zs{
  width: 100rpx;
}
.li .zs .dzsl{
  font-size: 26rpx;
  color: #949494;
}
.li .zs .ax{
  width: 30rpx;
  height: 28rpx;
}
