<!--pages/map/map.wxml-->
<block wx:if="{{latitude}}">
  <map 
    id="map" 
    longitude="{{longitude}}" 
    latitude="{{latitude}}" 
    scale="14"  
    markers="{{markers}}"  
    show-location
    enable-satellite
    enable-rotate
    style="width: 100%; height: 700px;"
    bindregionchange="onViewChange"
    >
  </map>

</block>


