<view wx:if="{{!imageTempPath}}">
  <camera device-position="back" flash="off" binderror="onCameraError" class="camera-frame"></camera>

  <view class="camera-shutter-button" bindtap="onShutter"></view>
</view>


<view wx:if="{{imageTempPath}}">
  <image src="{{imageTempPath.tempImagePath}}" class="image"></image>

  <view class="right-button" bindtap="onComfirm">
    <icon type="success_no_circle" size="40"/>
  </view>

  <view class="left-button" bindtap="onCancel">
    <icon type="cancel" size="40"/>
  </view>
</view>