<form bindsubmit="formSubmit">
  <view class='shuru'>
    <view class="li">
      <image src="/images/001-mail.png" mode="widthFix"></image>
      <view class="str">
        <view class="mz">邮箱 / 电话号码</view>
        <input placeholder="请输入邮箱 / 电话号码" placeholder-style='color:#a8a6a6' name='email' class="inpo"></input>
      </view>
    </view>
    <view class="li">
      <image src="/images/001-mail.png" mode="widthFix"></image>
      <view class="str">
        <view class="mz">密码</view>
        <input placeholder="请输入最少8个字母" password='true' placeholder-style='color:#a8a6a6' name='password' class="inpo"></input>
      </view>
    </view>
  </view>
  <!-- <view class="wjmi" data-url="../h5/h5?type=wjmm" bindtap="tiaozhuan">忘记密码了？</view> -->
  <navigator class="wjmi" bindtap="tiaozhuan" url="../forgotPassword/forgotPassword">忘记密码了？</navigator>

  <view class="rqbut">
    <button class="scan"  form-type="submit">登录</button>
  </view>
</form>