<view class='logo'>
  <image src="{{events.image_url_web}}"></image>
</view>

<view class="sj">{{events.start_date}} --- {{events.end_date}}</view>

<view class="txt1">{{events.title}}</view>

<view class="txt2">{{events.caption}}</view>

<view class="txt3">
  <image src="/images/ic_info_24px.png"></image> 说明:</view>
<text class="txt4">{{events.description}}</text>
<!-- <view class="txt3">
  <image src="/images/ic_info_24px.png"></image>Terms and Conditions:</view>
<text class="txt4">- Mobile apps: iOS, Android or Windows phone
- Facebook apps
- Desktop apps
-  SaaS apps</text> -->

<view class="txt3" style="color:#e5ac00">
  <image src="/images/ic_language_24px.png"></image>www.icycle-global.com</view>